/* Octocat Assignment - Use the html provided to create the style sheet in css */

html {
  font-family: sans-serif;
  font-size: 15px;
  color: #888; //grey
  padding: 0;
}

body {
  padding: 40px 0 0 0; /* 40px on top */
}

a {
  font-weight: bold;
  color: #444; // darker grey
  text-decoration: none;
}

ul.octodex {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li.octocat {
  width: 30%;
  min-width: 300px;
  margin: 20px 20px 40px 20px;
  padding: 0;
  display: inline-block;
}

.octocat > a:first-child {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  overflow: hidden;
  display: block;
}

.octocat > a:first-child img {
  max-width: 100%;
  display: block;
}

.image-footer {
  text-align: right;
  font-weight: bold;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  position: relative;

}
  .image-footer::before {
    content: '';
    width: 0;
  	height: 0;
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-top: 10px solid #ccc;
    position: absolute;
    top: 0;
    right: 5px;
  }

.image-number {
  color: #ccc;
  font-weight: bold;
  float: left;
  display: block;
}
  .image-number::before {
    content: '#';
  }

.image-caption {}

ul.authors {
  list-style: none;
  margin: 0 0 0 1px;
  padding: 0;
  display: inline;
}

ul.authors li {
  display: inline;
}

ul.authors li a {
  float: right;
  width: 30px;
  border-radius: 4px;
  margin-top: -8px;
  margin-left: 4px;
  overflow: hidden;
  display: block;
}

ul.authors li a img {
  width: 100%;
  display: block;
}

.image footer {}

.group:after {  /*clearfix */
  content: "";
  display: table;
  clear: both;
}
